# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
Desktop.ini
ehthumbs.db

# Linux
*~

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Env / secrets
.env
.env.local

# Logs
*.log

# Misc
*.swp
*.bak

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/
Gemfile.lock

