<footer>
  <div class="footer-content">
    <a href="/">
      <img src="/assets/miaewhitebig.png" alt="MIAE Logo" class="footer-logo">
    </a>

    <div class="footer-center">
      <div class="social-icons">
        <a href="https://www.linkedin.com/company/mcgill-miae" target="_blank" rel="noopener" aria-label="LinkedIn">
          <img src="/assets/linkedin.svg" alt="">
        </a>
        <a href="https://www.instagram.com/studentmiaemcgill/" target="_blank" rel="noopener" aria-label="Instagram">
          <img src="/assets/instagram.svg" alt="">
        </a>
        <a href="mailto:studentpresident.miae@mcgill.ca" aria-label="Email">
          <img src="/assets/mail.svg" alt="">
        </a>
      </div>
      <p>&copy; {{ site.time | date: "%Y" }} McGill Institute for Aerospace Engineering Student Executive Committee</p>
    </div>

    <a href="https://www.mcgill.ca/miae/" target="_blank" rel="noopener">
      <img src="/assets/mcgill_sig_red.png" alt="McGill Logo" class="footer-logo">
    </a>
  </div>
</footer>
